services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: cubetimer_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    # Added volume mapping
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local
    depends_on:
      - db

volumes:
  postgres_data: